<!-- Toolbar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
<!--    <button mat-icon-button>-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
    <div class="logo">
      <h1><a [routerLink]="'/'"><span>Build A Team</span></a></h1>
    </div>
    <span class="menu-spacer"></span>
    <div>
      <div *ngIf="authenticationService.isLoggedIn">
<!--        <a mat-button [routerLink]="'/member-dashboard'"> Dashboard </a>-->
        <a mat-button [routerLink]="'/member-profile'"> Profile </a>
<!--        <a mat-button [routerLink]="'/contract'"> Contract </a>-->
<!--        <a mat-button [routerLink]="'/create-team'"> Create A Team </a>-->
        <a mat-button (click)="logOut()"> Logout </a>

      </div>
      <div *ngIf="!authenticationService.isLoggedIn">
<!--        <a mat-button [routerLink]="'/login'"> Login </a>-->
<!--        <a mat-button [routerLink]="'/register'" *ngIf="!authenticationService.isLoggedIn"> Register </a>-->
<!--        <a mat-button [routerLink]="'/forgot-password'" *ngIf="!authenticationService.isLoggedIn"> Forgot password </a>-->
      </div>
    </div>
  </mat-toolbar-row>

</mat-toolbar>


<!-- Content -->
<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


